{% extends 'base.html' %}
{% block body %}
    <div style="text-align: center;">
        <h2>Добавить запись</h2>
        <form method="post" class="form-control">
            <div style="width: 50%; margin-left: 25%;">
                <input type="text" name="title" placeholder="Введите заголовок статьи" class="form-control"><br>

                <textarea class="form-control" name="text" placeholder="Введите текст статьи"
                          style="height: 100px"></textarea>
                {#                    <label for="floatingTextarea2"></label>#}

                <br>
            </div>
            <div style="margin-bottom: 20px;">
                <button type="submit" class="btn btn-success">Добавить</button>
            </div>
        </form>
    </div>
{% endblock %}
